# Visual Studio Code
.vscode

# IntelliJ
.idea

# MacOS
.DS_Store

coverage.txt

contracts/yarn.lock
*/build

build/bin
cache
out
ops/l2-genesis/.devnet
ops/l2-genesis/.qanet
ops/l2-genesis/.testnet
ops/l2-genesis/.holesky
ops/l2-genesis/.morphtestnet
ops/devnet-morph/devnet/__pycache__
contracts/qanetL1.json
contracts/holesky.json
.env

# logs
*.log