# Visual Studio Code
.vscode

# IntelliJ
.idea

# MacOS
.DS_Store

coverage.txt

contracts/yarn.lock
*/build

build/bin
cache
out
ops/docker/.devnet
ops/l2-genesis/.devnet
ops/l2-genesis/.qanet
ops/l2-genesis/.testnet
ops/l2-genesis/.holesky
ops/l2-genesis/.hoodi
ops/l2-genesis/.mainnet
ops/l2-genesis/.morphtestnet
ops/devnet-morph/devnet/__pycache__
contracts/qanetL1.json
contracts/holesky.json
contracts/hoodi.json
contracts/mainnet.json
.env

# logs
*.log

# mpt-switch-test (local testing only)
ops/mpt-switch-test