go 1.20

replace (
	github.com/scroll-tech/go-ethereum => github.com/morph-l2/go-ethereum v0.3.0-beta
	github.com/tendermint/tendermint => github.com/morph-l2/tendermint v0.2.2-beta
)

use (
	./bindings
	./contracts
	./node
	./ops/L2-genesis
	./ops/tools
	./tx-submitter
)
