go 1.21

toolchain go1.22.2

replace (
	github.com/btcsuite/btcd => github.com/btcsuite/btcd v0.20.1-beta
	github.com/scroll-tech/go-ethereum => github.com/morph-l2/go-ethereum v1.10.14-0.20240429050506-03fd4c3e771d
	github.com/tendermint/tendermint => github.com/morph-l2/tendermint v0.2.0-beta
)

use (
	./bindings
	./contracts
	./node
	./ops/L2-genesis
	./ops/tools
	./oracle
	./tx-submitter
)
