[workspace]
members = [
    "bin/host",
    "bin/client",
    "crates/morph-executor/host",
    "crates/morph-executor/client",
    "crates/core",
    "crates/mpt",
    "crates/primitives",
    "crates/sbv",
    "crates/utils",
    "tests/*/*"
]
resolver = "2"

[workspace.package]
version = "2.0.0"
edition = "2021"
rust-version = "1.75"
authors = ["Scroll developers"]
license = "MIT OR Apache-2.0"
homepage = "https://github.com/morph-l2/morph/tree/main/prover"
repository = "https://github.com/morph-l2/morph/tree/main/prover"




[workspace.dependencies]
alloy = "0.3"
hex = "0.4"
once_cell = "1.19"
rkyv = { version = "0.7", features = ["validation"] }
thiserror = "1.0"
tiny-keccak = "2.0"
getrandom = { version = "*", features = ["custom"] } # just for disable
log = "0.4"
zstd = { git = "https://github.com/scroll-tech/zstd-rs", branch = "hack/mul-block", features = ["experimental"]}
ruzstd = { git = "https://github.com/KillingSpark/zstd-rs.git", branch = "master"}

# crypto
c-kzg = "1.0.3"
kzg-rs = { git = "https://github.com/anylots/kzg-rs.git", branch = "sp1-bls-dev" }
sha2 = "0.10.8"

sp1-zkvm =  { git = "https://github.com/scroll-tech/sp1.git", branch = "scroll-v1.3.0-rc2"}
sp1-sdk = { git = "https://github.com/scroll-tech/sp1.git", branch = "scroll-v1.3.0-rc2", features = ["native-gnark"]}
sp1-helper = { git = "https://github.com/scroll-tech/sp1.git", branch = "scroll-v1.3.0-rc2"}

# dependencies from scroll-tech
poseidon-bn254 = { git = "https://github.com/scroll-tech/poseidon-bn254", branch = "master", features = ["bn254"] }
zktrie-ng = { git = "https://github.com/anylots/zktrie-ng.git", branch = "master", features = ["scroll"] }


# binary dependencies
anyhow = "1.0"
async-channel = "2.2"
clap = "4"
env_logger = "0.9"
futures = "0.3"
serde = "1.0"
serde_json = "1.0"
serde_with = "3.9"
tokio = { version = "1", default-features = false }
url = "2.5"
eyre = "0.6"

# optional dependencies
csv = "1.3"
ctor = "0.2"
hyper = { version = "1.4", features = ["server", "http1"] }
hyper-util = { version = "0.1", features = ["tokio"] }
http-body-util = "0.1"
prometheus-client = "0.22"
pprof = { version = "0.13", features = ["flamegraph"] }
tracing = "0.1"
tracing-subscriber = { version = "0.3", features = ["env-filter"] }

# dev dependencies
rand = "0.8"
reqwest = "0.12"

# workspace
sbv = { path = "crates/sbv" }
sbv-core = { path = "crates/core" }
sbv-primitives = { path = "crates/primitives" }
sbv-utils = { path = "crates/utils" }
morph-executor-host = { path = "crates/morph-executor/host" }
morph-executor-client = { path = "crates/morph-executor/client" }

[workspace.dependencies.revm] # v42
git = "https://github.com/morph-l2/revm"
branch = "morph-update"
default-features = false
features = [
    "morph-default-handler",
    "morph-poseidon-codehash",
    "std",
    "optional_no_base_fee"
]

[workspace.dependencies.revm-primitives] # v42
git = "https://github.com/morph-l2/revm"
branch = "morph-update"
default-features = false
features = [
    "morph-default-handler",
    "morph-poseidon-codehash",
    "std",
    "optional_no_base_fee"
]


[workspace.lints.rust]
missing-docs = "deny"
missing-debug-implementations = "deny"

[patch.crates-io]
tiny-keccak = { git = "https://github.com/sp1-patches/tiny-keccak", branch = "patch-v2.0.2" }
sha2 = { git = "https://github.com/sp1-patches/RustCrypto-hashes", package = "sha2", branch = "patch-sha2-v0.10.8" }

ff = { git = "https://github.com/scroll-tech/ff", branch = "feat/sp1" }

# patched add rkyv support & MSRV 1.75
ruint = { git = "https://github.com/scroll-tech/uint.git", branch = "v1.12.3" }

alloy = { git = "https://github.com/scroll-tech/alloy.git", branch = "v0.3.0" }
alloy-eips = { git = "https://github.com/scroll-tech/alloy.git", branch = "v0.3.0" }

alloy-eip2930 = { git = "https://github.com/scroll-tech/alloy-eips", branch = "v0.1.0" }
alloy-eip7702 = { git = "https://github.com/scroll-tech/alloy-eips", branch = "v0.1.0" }

alloy-core = { git = "https://github.com/scroll-tech/alloy-core", branch = "v0.8.0"}
alloy-primitives = { git = "https://github.com/scroll-tech/alloy-core", branch = "v0.8.0"}

[patch."https://github.com/morph-l2/revm"]
revm = { git = "https://github.com/morph-l2//revm", branch = "morph-update" }
revm-primitives = { git = "https://github.com/morph-l2//revm", branch = "morph-update" }


# for local development
# [patch."https://github.com/scroll-tech/revm"]
# revm = { path = "../revm/crates/revm" }

#[profile.release]
#debug-assertions = true