# Override file to use test images
# Copy this to ops/docker/docker-compose.override.yml before running test
version: '3.8'

services:
  morph-geth-0:
    image: morph-geth-test:latest
    build:
      context: ../..
      dockerfile: ops/docker-sequencer-test/Dockerfile.l2-geth-test

  morph-geth-1:
    image: morph-geth-test:latest

  morph-geth-2:
    image: morph-geth-test:latest

  # morph-geth-3:
  #   image: morph-geth-test:latest

  node-0:
    image: morph-node-test:latest
    build:
      context: ../..
      dockerfile: ops/docker-sequencer-test/Dockerfile.l2-node-test
    environment:
      - SEQUENCER_PRIVATE_KEY=${SEQUENCER_PRIVATE_KEY:-0xac0974bec39a17e36ba4a6b4d238ff944bacb478cbed5efcae784d7bf4f2ff80}

  node-1:
    image: morph-node-test:latest

  node-2:
    image: morph-node-test:latest

  # node-3:
  #   image: morph-node-test:latest

  sentry-geth-0:
    image: morph-geth-test:latest

  sentry-node-0:
    image: morph-node-test:latest

