version: '3.8'

volumes:
  validator_node_data:

services:

  validator_node:
    build:
      context: ..
      dockerfile: ./ops-morph/Dockerfile
    image: morph-node:latest
    ports:
      - "26660:26660"
    environment:
      - EMPTY_BLOCK_DELAY=true
      - MORPH_NODE_L2_ETH_RPC=http://host.docker.internal:7545
      - MORPH_NODE_L2_ENGINE_RPC=http://host.docker.internal:7551
      - MORPH_NODE_L2_ENGINE_AUTH=jwt-secret.txt
      - MORPH_NODE_SYNC_DEPOSIT_CONTRACT_ADDRESS=0xcf7ed3acca5a467e9e704c703e8d87f634fb0fc9
      ## todo need to replace it to a public network
      - MORPH_NODE_L1_ETH_RPC=http://host.docker.internal:9545
      - MORPH_NODE_L1_ETH_BEACON_RPC=http://host.docker.internal:3500
      - MORPH_NODE_VALIDATOR_PRIVATE_KEY=ac0974bec39a17e36ba4a6b4d238ff944bacb478cbed5efcae784d7bf4f2ff80
      - MORPH_NODE_ROLLUP_ADDRESS=0xa513e6e4b8f2a923d98304ec87f64353c4d5c853
      - MORPH_NODE_DERIVATION_START_HEIGHT=1
      - MORPH_NODE_DERIVATION_FETCH_BLOCK_RANGE=1000
      - MORPH_NODE_L1_CHAIN_ID=900
      - MORPH_NODE_VALIDATOR=true
      - MORPH_NODE_MOCK_SEQUENCER=false
      - MORPH_NODE_L1_CONFIRMATIONS=1
      - MORPH_NODE_METRICS_SERVER_ENABLE=true
      - MORPH_NODE_METRICS_PORT=26660
      - MORPH_NODE_SYNC_START_HEIGHT=1
    volumes:
      - "validator_node_data:${NODE_DATA_DIR}"
      - "${PWD}/jwt-secret.txt:${JWT_SECRET_PATH}"
    command: >
      morphnode
      --validator
      --home $NODE_DATA_DIR
