version: "3.8"

services:
  sequencer-txsubmitter:
    image: tx-submitter
    build:
      context: .
      dockerfile: Dockerfile
    command: tx-submitter
    environment:
      - BATCH_SUBMITTER_BUILD_ENV=v0.0.1
      - BATCH_SUBMITTER_CLEAR_PENDING_TXS=true
      - BATCH_SUBMITTER_L1_ETH_RPC=http://127.0.0.1:9545
      - BATCH_SUBMITTER_L1_PRIVATE_KEY=59c6995e998f97a5a0044966f0945389dc9e86dae88c7a8412f4603b6b78690d
      - BATCH_SUBMITTER_L2_ETH_RPC=http://127.0.0.1:8545
      - BATCH_SUBMITTER_MAX_BATCH_SUBMISSION_TIME=5s
      - BATCH_SUBMITTER_NUM_CONFIRMATIONS=2
      - BATCH_SUBMITTER_POLL_INTERVAL=3s
      - BATCH_SUBMITTER_RESUBMISSION_TIMEOUT=120s
      - BATCH_SUBMITTER_RUN_STATE_BATCH_SUBMITTER=false
      - BATCH_SUBMITTER_RUN_TX_BATCH_SUBMITTER=true
      - BATCH_SUBMITTER_SAFE_ABORT_NONCE_TOO_LOW_COUNT=1
      - BATCH_SUBMITTER_SAFE_MINIMUM_ETHER_BALANCE=1
      - BATCH_SUBMITTER_ROLLUP_ADDRESS=0x6900000000000000000000000000000000000010