on:
  pull_request:
    branches:
      - main
    types: ["closed"]

jobs:
  cherry_pick_release_0_1_x:
    runs-on: ubuntu-latest
    name: Cherry pick into release/0.1.x
    if: ${{ contains(github.event.pull_request.labels.*.name, 'release/0.1.x') && github.event.pull_request.merged == true }}
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Cherry pick into release/0.1.x
        uses: carloscastrojumo/github-cherry-pick-action@v1.0.1
        with:
          branch: release/0.1.x
          labels: |
            cherry-pick
env:
  GITHUB_TOKEN: ${{ secrets.TOKEN }}