name: Contracts

on:
    push:
        branches:
            - main
        paths:
            - "contracts/**"
            - "ops/l2-genesis/**"
            - ".github/workflows/contracts.yaml"
    pull_request:
        paths:
            - "contracts/**"
            - "ops/l2-genesis/**"
            - ".github/workflows/contracts.yaml"

defaults:
    run:
        working-directory: "contracts"

jobs:
    tests:
        runs-on: ubuntu-latest
        env:
            FORCE_COLOR: 1
            GAS: true
        steps:
            - uses: actions/checkout@v3
            - uses: actions/setup-node@v3
              with:
                  node-version: 18.x
            - name: Install Foundry
              uses: foundry-rs/foundry-toolchain@v1
              with:
                  version: nightly
            - name: Run build
              run: yarn && yarn build
            - name: Run tests
              run: yarn test
