name: Tx-submitter

on:
    push:
        branches:
            - main
        paths:
            - "tx-submitter/**"
            - ".github/workflows/tx-submitter.yaml"
    pull_request:
        paths:
            - "tx-submitter/**"
            - ".github/workflows/tx-submitter.yaml"

defaults:
    run:
        working-directory: "tx-submitter"

jobs:
    tests:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v3
            - name: Install Go
              uses: actions/setup-go@v2
              with:
                  go-version: 1.21.x
            - name: Run build
              run: make build
            - name: Run tests
              run: make test
