[package]
name = "shadow-proving"
version = "2.0.0"
edition = "2021"
rust-version = "1.75"
authors = ["developers"]
license = "MIT OR Apache-2.0"
homepage = "https://github.com/morph-l2/morph/tree/main/prover"
repository = "https://github.com/morph-l2/morph/tree/main/prover"
# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
anyhow = { workspace = true }
axum = { workspace = true }
dotenv = { workspace = true }
env_logger = { workspace = true }
flexi_logger = { workspace = true }
futures = { workspace = true }
log = { workspace = true }
once_cell = { workspace = true }
prometheus = { workspace = true }
reqwest = { version = "0.12", features = ["blocking"] }
serde = { workspace = true }
serde_json = { workspace = true }
tokio = { workspace = true, features = ["rt-multi-thread", "macros"] }
alloy-consensus = { workspace = true, default-features = false }
alloy-json-rpc = { workspace = true }
alloy-network = { workspace = true }
alloy-primitives = { workspace = true }
alloy-provider = { version = "1.1.3", default-features = false, features = [
    "reqwest",
    "reqwest-rustls-tls",
] }
alloy-rpc-types = { workspace = true }
alloy-sol-types = { workspace = true }
alloy-contract = { version = "1.1.0", default-features = false }
alloy-transport = { workspace = true }
alloy-transport-http = { workspace = true }
alloy-signer-local = { workspace = true }

prover-executor-host = { workspace = true }
prover-executor-client = { workspace = true }
prover-primitives = { workspace = true }
prover-utils.workspace = true

[dev-dependencies]
clap = { workspace = true, features = ["derive"] }
